@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200  Lora:wght@400;500;600&family=Montserrat:wght@300;400;500;600&display=swap');

body {
    background-color: #181719;
    color: #FFFFFF;
}

.font-sans {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-serif {
    font-family: "Lora", Georgia, 'Times New Roman', Times, serif;
}

.nav--mobile__closed .nav--trigger.close,
.nav--mobile__open .nav--trigger.menu {
    display: inline-block;
}

.nav--mobile__closed .nav--links,
.nav--mobile__closed .nav--trigger.close,
.nav--mobile__open .nav--trigger.menu {
    display: none;
}

figure img {
    width: 100%;
}

.top header {
    margin: 30px 20px;
}

.logo {
    font-family: "Crimson Pro", "Lora", Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 10px;
    font-weight: 200;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav {
    background-color: #181719;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    transition: height 0.3s ease-out;
    height: 0;
}

.nav--mobile__open .nav {
    position: fixed;
    width: 100%; height: 100%;
}

.nav--mobile__closed .nav {
    height: 0;
}

.nav--mobile__aside {
    position: absolute;
    top: 10px; right: 10px;
}

.nav--trigger {
    background-color: #181719;
    color: #FFFFFF;
    border: 0;
    padding: 10px;
}

.nav--trigger > .material-icons {
    font-size: 32px !important;
}

.nav--links {
    list-style-type: none;
    margin: 0; padding: 0;
}

.nav--mobile__open .nav--links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav--links > li + li {
    margin-top: 2em;
}

.nav--link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav--link.active {
    font-weight: 600;
}

.container > main + footer {
    margin-top: 6rem;
}

main {
    margin: 0 20px;
}

main > .hero + .post {
    margin-top: 2.5rem;
}

.hero {
    margin-top: 3rem;
}

.hero header h1 {
    font-weight: normal;
    font-size: 2.3rem;
}

.hero .content {
    width: 80%;
}

.hero .content p {
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.hero footer a {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 0.9rem;
    text-decoration: none;
}

.hero footer a > * + * {
    transition: margin 0.4s;
    margin-left: 1rem;
}

.hero footer a:hover > * + * {
    margin-left: 2rem;
}

main section article {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

main section article figure {
    width: 100%;
    margin: 0;
}

.post-card {
    background-color: #181719;
    width: 90%;
    height: auto;
    margin-top: -4rem;
    margin-right: 0.5rem;
    padding: 1rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.post-card header {
    display: flex;
    align-items: center;
}

.post-card header > * + * {
    margin-left: 1.2rem;
}

.post-card .post-avatar img {
    width: 42px;
    height: 42px;
    border-radius: 100%;
}

.post-card .post-author {
    display: flex;
    flex-direction: column;
    margin-top: -0.4rem; /* Fix spacing so it looks better */
}

.post-card .post-author > a + small {
    margin-top: 5px;
}

.post-card .post-author a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 0.8rem;
    line-height: 1rem;
} 

.post-card .post-author small {
    color: #828282;
    font-size: 0.7rem;
    line-height: 0.7rem;
}

.post-card .post-content {
    width: 60%;
}

.post-card .post-content a {
    text-decoration: none;
    color: #FFFFFF;
}

.post-card .post-content a h2 {
    line-height: 1.9rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.container > footer {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    border-top: 1px solid #A9A9A9;
    color: #A9A9A9;
    font-size: 0.9rem;
}

.container > footer a {
    color: #A9A9A9;
    text-decoration: none;
}

@media(min-width: 767px) {

    .top header {
        margin: 30px 25px;
    }

    .nav--links > li + li {
        margin-top: 3em;
    }

    .nav--trigger {
        padding: 15px;
    }

    .container .post .post-card {
        min-width: 300px;
        max-width: 60%;
        padding: 1.5rem;
        box-shadow: none;
    }

    .post-card .post-content {
        width: 100%;
    }
}

@media(min-width: 1023px) {
    .nav--mobile__closed .nav--mobile__aside,
    .nav--mobile__open .nav--mobile__aside,
    .nav--mobile__aside {
        display: none;
    }

    .nav--mobile__closed .nav--links,
    .nav--mobile__open .nav--links,
    .nav--mobile__closed .nav,
    .nav--mobile__open .nav {
        position: relative;
        display: inline-block;
        height: auto;
        width: auto;
    }

    .container {
        min-width: 1024px;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 3rem;
    }

    .top {
        margin-top: 3rem;
    }

    .top header {
        margin: 0;
    }

    .nav--links li {
        display: inline-block;
    }

    .nav--links > li + li {
        margin-top: 0;
        margin-left: 4rem;
    }

    .nav--links li a {
        padding: 0.5rem;
        border-bottom: 2px solid #181719;
        transition: border 0.3s;
    }

    .nav--links li a:hover {
        border-bottom: 2px solid #FFFFFF;
    }
    
    .container .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;
    }

    .container > main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 6rem 0;
    }

    .container .hero {
        width: 40%;
    }

    .container .post {
        width: 60%;
        max-width: 740px;
    }

    .container .hero header h1 {
        font-size: 3.3rem;
    }
    
    .container .hero .content p {
        font-size: 1.2rem;
        line-height: 2.3rem;
    }

    .container .hero .content {
        margin-bottom: 3rem;
    }
    
    .container .hero footer a {
        font-size: 1.2rem;
    }
    
    .container .hero footer a > * + * {
        margin-left: 1rem;
    }
    
    .container .hero footer a:hover > * + * {
        margin-left: 4rem;
    }

    .container .post .post-card {
        min-width: 400px;
        max-width: 70%;
        padding: 1.5rem;
        box-shadow: none;
    }

    .container > footer {
        border-top: 0;
    }
}