@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Montserrat:wght@300;400;500;600&display=swap');

body {
    background-color: #181719;
    color: #FFFFFF;
}

.font-sans {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-serif {
    font-family: "Lora", Georgia, 'Times New Roman', Times, serif;
}

.nav--mobile__closed .nav--trigger.close,
.nav--mobile__open .nav--trigger.menu {
    display: inline-block;
}

.nav--mobile__closed .nav--mobile__links,
.nav--mobile__closed .nav--trigger.close,
.nav--mobile__open .nav--trigger.menu {
    display: none;
}

figure img {
    width: 100%;
}

.top header {
    display: flex;
    justify-content: space-between;
}

.nav {
    background-color: #181719;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    transition: height 0.3s ease-out;
    height: 0;
}

.nav--mobile__open .nav {
    width: 100%; height: 100%;
}

.nav--mobile__closed .nav {
    height: 0;
}

.nav--mobile__aside {
    position: fixed;
    top: 0; right: 0;
}

.nav--trigger {
    background-color: #181719;
    color: #FFFFFF;
    border: 0;
    padding: 10px;
}

.nav--trigger > .material-icons {
    font-size: 32px !important;
}

.nav--mobile__links {
    list-style-type: none;
    margin: 0; padding: 0;
}

.nav--mobile__open .nav--mobile__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav--mobile__links > li + li {
    margin-top: 2em;
}

.nav--link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav--link.active {
    font-weight: 600;
}

@media(min-width: 767px) {
    .nav--mobile__links > li + li {
        margin-top: 3em;
    }

    .nav--trigger {
        padding: 15px;
    }
}